version: "3.9"

services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db

  memebot_v4:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memebot_v4
    restart: always
    env_file: .env
    ports:
      - "8501:8501"   # порт панели
    volumes:
      - ./log:/app/log   # если хочешь сохранять логи на хост
    depends_on:
      - mongo

volumes:
  mongo_data: