services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    restart: always
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db

  memebot_bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memebot_bot
    restart: always
    env_file: .env
    command: python bot.py
    depends_on:
      - mongo

  memebot_ui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memebot_ui
    restart: always
    env_file: .env
    command: gunicorn -w 2 -b 0.0.0.0:8501 control_panel_ui:app
    ports:
      - "8501:8501"
    depends_on:
      - mongo

volumes:
  mongo_data:
